{% extends "base.html.twig" %}
{% block title %}
    {{ parent() }}
    Add Item Into Cart
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row justify-content-center"> <div class="col-12 col-md-10">
        <h1 class="text-center">Add an item into a cart</h1> 
        
        <form method="post" action="index.php?page=addItemInCart">

            <div class="mb-3">
                <label for="user" class="form-label">Cart owner :</label>
                <select type="text" class="form-select" id="user" name="email" required>
                <option selected value="">-- select an email --</option>
                {% for user in users %}
                    <option value="{{user.email}}">
                        {{user.email}}
                    </option>
                {% endfor %}
                </select>
            </div>

            <div class="mb-3">
                <label for="item" class="form-label">Item :</label>
                <select type="text" class="form-select" id="item" name="productID" required>
                <option selected value="">-- select an item --</option>
                {% for product in products %}
                    <option value="{{product.id}}">
                        {{product.name}}{{product.id}}
                    </option>
                {% endfor %}
                </select>
            </div>

            <div class="mb-3">
                <label for="quantity" class="form-label">Quantity :</label>
                <input class="form-control" type="number" name="quantity" id="quantity" value=1 required></input>
            </div>




            <div style="text-align: center">
                <input name='button' type="submit" class="btn btn-outline-primary" value='Add'/>
            </div>

            

        </form>

    </div>
</div> 
{% endblock %}