{% extends "base.html.twig" %}

{% block title %} {{ parent() }} Products {% endblock %}
       
{% block content %} 
    <div class="container-fluid">
		<div class="row justify-content-center">
			<div class="col-12 col-md-10">
				 <h1 class="text-center">Products list</h1> 


				{% for product in products %}
					<h3>{{product.id}} {{product.name}}</h3> 
					<i>{{product.type.label}}</i>
					<br>
					{{product.price}}€
					<br> {{product.description|raw}}
					<br><br>

					<div class="btn-group" role="group">
							<a href="index.php?page=updateProduct&id={{product.id}}" class="btn btn-dark" >Modifier</a>
							<a class="btn btn-dark">Supprimer</a>
					</div>


				{% endfor %}

			</div>
		</div>
	</div>
{% endblock %} 